html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #2e2e2e;
    -ms-touch-action: none;
    touch-action: none;
    -ms-content-zooming: none;
}

#root {
    padding: 0;
    height: 100%;
    // overflow: hidden; 
}

.outer-wrapper {
    padding: 0;
    height: 100%;
}